body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.title{
    text-shadow: 2px 2px #c6c6c6;
}

.start-menu{

    background-color: #b1b1b1;
    padding: 1em;

    border-radius: 5px;
    border: 5px black;



}
.card-view{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

.poker-table-container{
    color: #b1b1b1;
    font-size: 1.5em;

    border: 5px #272728;
    border-radius: 10px;
    background-image: url("poker-table-texture.jpg");
    background-repeat: repeat;




}

input{
    border-radius: 5px;
}


button{

    padding: 0.5em;
    margin: 0em;


    border-radius: 2px;

    background-color: #d9d9d9;
}
button:hover{
    background-color: #b1b1b1;
}