<template>
  <div class="start-menu">

    <form>
      <input type="text" v-model="playerName" required="required" id="input-name" placeholder="Enter your name...">
      <br>
      <button @click="startGame">Play</button>

    </form>




  </div>
</template>

<script>
export default {
  name: "Start.vue",
  data(){
    return {
      playerName: ''
    }
  },
  methods:{
    startGame(){
      return this.$router.push('/play/:'+this.playerName)
    }
  }
}
</script>

<style scoped>

</style>