<template>
  <div class="player-main">
    <ul>
      <p>{{this.playerName}} : {{-1}}</p>

      <div class="card-view" v-for="card in cards" :key="card.index">
        <!--{{card.cardValue}}-->
        <img class="card" :src="card.cardImage">
      </div>
    </ul>
    <section id="section-buttons">
      <button id="btn-hit" @click="handleHit"> Hit/Draw</button>
      <button id="btn-flip" @click="handleFlip"> Flip Ace</button>
      <button id="btn-stand" @click="handleStand"> Stand</button>
    </section>

  </div>
</template>

<script>

//Player gets two cards
export default {
  name: "BlackjackPlayer",
  beforeMount() {
    this.playerName = this.$route.params.playerName

  },
  data(){
    return{
      playerName: String,
      value: 0
    }
  },
  props : [
      'cards'
  ],
  methods: {
    handleHit(){
      this.$emit('player-hit')
      console.log('hit')
    },
    handleFlip(){
      this.$emit('player-flip')
      console.log('flip')
    },
    handleStand(){
      this.$emit('player-stand')
      console.log('stand')
    }
  },
  computed : {
    total() {
      let sum = 0;
      for(const c of this.cards){

        sum += c;
        console.log(sum)
      }
      return sum
    }
  }

}
</script>

<style scoped>
  .player-main{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #section-buttons{
    margin: 2em;
  }
  .card{
    width: 5em;
  }


</style>