<template>
  <div class="poker-table-container">
    <BlackjackDealer :cards="dealerCards" :active="dealersTurn"/>
    <BlackjackPlayer v-bind:cards="playerCards" v-on:player-hit="playerDrawCard"/>

  </div>
</template>

<script>
import {fetchDeckID, getNextCard, shuffleDeck} from "./blackjackAPI.js";
import BlackjackDealer from "@/components/Blackjack/BlackjackDealer";
import BlackjackPlayer from "@/components/Blackjack/BlackjackPlayer";

export default {
  name: "Blackjack",
  components: {BlackjackPlayer, BlackjackDealer},
  data() {
    return {
      deckID: '',
      dealerCards: [],
      playerCards: [],
      dealersTurn: false,
      playerScore: 0,
      dealerScore: 0
    }
  },
  created() {
    // Gets a deck id from the api
    fetchDeckID().then(response => {
        this.deckID = response.deck_id
      this.newGame()

      })

  },
  methods: {
    playerCalculateValue(){
      let value = 0
      const aceHigh = 11
      const aceLow = 1
      const blackjack = 21
      for (let i = 0; i < this.playerCards.length; i++) {
        const cardValue = this.playerCards[i].cardValue
        if(cardValue === 'KING' || cardValue === 'QUEEN' || cardValue === 'JACK')
          value += 10
        else if(cardValue === 'ACE'){
          if(value + aceHigh > blackjack){
            value += aceLow
          }
          else {
            value += aceHigh
          }
        } else {
          value += Number(cardValue)
        }
      }
      return value
    },
    dealerDrawCard() {
      this.getNextCardValue().then(response => {
        this.dealerCards.push({cardValue: response.value, cardImage: response.image})
        this.dealerScore = this.dealerCalculateValue()
      })
    },
    playerDrawCard() {
      this.getNextCardValue().then(response => {
        this.playerCards.push({cardValue: response.value, cardImage: response.image})
        this.playerScore = this.playerCalculateValue()
      })
    },
    // Draws new cards from the deck, and sets drawnCardValue and drawnCardImage to these values
    getNextCardValue(){
      return getNextCard(this.deckID)
          .then(response => {
            // Reshuffle the deck if no cards are left in it
            if(response.remaining === 0){
              shuffleDeck(this.deckID).then(response => console.log(response))
            }
            return response.cards
          })
          .then(cards => cards[0])
    },
    newGame(){
      this.dealerDrawCard()
      this.dealerDrawCard()
      this.playerDrawCard()
      this.playerDrawCard()
    },
    endGame(playerValue, dealerValue){
      if(playerValue === dealerValue){
        alert("Draw")
      } else if (playerValue > dealerValue) {
        alert("You have won")
      }
      else {
        alert("You lost")
      }
      this.dealerCards = []
      this.playerCards = []
      this.dealersTurn = false
      this.newGame()
    },
    dealerCalculateValue(){
      let value = 0
      const aceHigh = 11
      const aceLow = 1
      const blackjack = 21
      for (let i = 0; i < this.dealerCards.length; i++) {
        const cardValue = this.dealerCards[i].cardValue
        if(cardValue === 'KING' || cardValue === 'QUEEN' || cardValue === 'JACK')
          value += 10
        else if(cardValue === 'ACE'){
          if(value + aceHigh > blackjack){
            value += aceLow
          }
          else {
            value += aceHigh
          }
        } else {
          value += Number(cardValue)
        }
      }
      return value
    },
    stayOrDraw(value) {
      if(value >= 17){
        this.endGame(value)
      }
      this.dealerDrawCard()
      value = this.value
      return this.stayOrDraw(value);
    }
  }
}
</script>

<style scoped>

</style>
