<template>
  <div>
    <p>Dealer</p>
    <div v-for="(card, index) in cards" :key="index">
      <img :src="card.cardImage" v-if="index || active">
    </div>
  </div>
</template>

<script>

export default {
  name: "BlackjackDealer",
  props: ['cards'],
  data() {
    return {
      active: false,
      value: 0
    }
  },
  beforeUpdate() {
    this.value = this.countValue()
  },
  methods: {}
}
</script>

<style scoped>

</style>